__temp/temp_docs/rescursos-learn/n8n-setup-chatwoot/1.1 API receptor - ROUTER _ (Uazapi_DB _ Whatpro).json
{
  "name": "1.1 API receptor - ROUTER | (Uazapi/DB > Whatpro)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatpro-baserow-instance-controller-PROD",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        560
      ],
      "id": "88112388-a6d8-4186-9741-21192a996d5c",
      "name": "Baserow Webhook",
      "webhookId": "a80675e2-06d3-4789-82f3-6f54c9b1134f"
    },
    {
      "parameters": {
        "content": "# Fontes de entrada para o flow (fonte dos Webhooks)\n\n## Baserow Webhook ---- /yib-baserow-instance-controller-PROD\n### Webhook \"Rows are updated\" das duas tabelas usadas na configuraﾃｧﾃ｣o da integraﾃｧﾃ｣o para as instﾃ｢ncias.\n\n## Uazapi Webhook ---- /yib-uazapi-receptor-TOchatwoot-PROD\n### Configuraﾃｧﾃｵes do webhook para as instﾃ｢ncias da [Uazapi!](https://uazapi.dev/interno?p=conecte)\n\nname: [ 1.1 Uazapi receptor (TOchatwoot) - ROUTER ]",
        "height": 320,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        144
      ],
      "typeVersion": 1,
      "id": "1c0f5670-671e-4dd9-86c0-55db98e49362",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50869f0f-7efc-4daa-acc1-8b63b83edf32",
                    "leftValue": "={{ $('Switch Processor').item.json.switchProcessor.eventType }}",
                    "rightValue": "VALID_MESSAGE_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message_created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Switch Processor').item.json.switchProcessor.eventType }}",
                    "rightValue": "VALID_UPDATE_STATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fca399e4-685d-48a3-8032-c799faad6f23"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messages_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ecdb77b-e977-42eb-a7ff-3f38ddb42000",
                    "leftValue": "={{ $('Uazapi Webhook').item.json.body.EventType ?? '' }}",
                    "rightValue": "presence",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "presence"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4a99af9-ffe9-46ce-ab96-31e701ad5ab6",
                    "leftValue": "={{ $('Uazapi Webhook').item.json.body.event?.IsGroup ?? false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "group_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32e986ca-8519-4f1a-9e15-4c5a3b3d60d8",
                    "leftValue": "={{ $('Switch Processor').item.json.switchProcessor.eventType }}",
                    "rightValue": "DISCARD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "discard"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        752
      ],
      "id": "82293113-91b0-4367-afe0-3d197b8ef702",
      "name": "Switch"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "data",
              "value": "={{ $('Switch Processor').item.json.discardReason }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        448,
        928
      ],
      "id": "553c6ca0-a420-4e71-95b1-a72611860c83",
      "name": "Discarded event"
    },
    {
      "parameters": {
        "jsCode": "/*====================================\n INICIALIZAﾃﾃグ E EXTRAﾃﾃグ DE DADOS\n Extrai todos os dados necessﾃ｡rios do corpo\n do webhook para variﾃ｡veis legﾃｭveis e seguras.\n====================================*/\nconst item = items[0];\nconst body = item.json.body || {};\n\nconst mainEventType = body.EventType;\nconst updateEventType = body.event?.Type;\nconst updateState = body.state;\nconst wasSentByApi = body.message?.wasSentByApi;\n\n// Variﾃ｡veis para armazenar o resultado do processamento\nlet eventType = '';\nlet discardReason = '';\n\n\n/*====================================\n Lﾃ敵ICA DE ROTEAMENTO\n O fluxo prioriza o evento principal 'messages'\n e inclui um fallback.\n====================================*/\n\n// ROTA 1 (Principal): O evento ﾃｩ 'messages'\nif (mainEventType === 'messages') {\n  if (wasSentByApi === false) {\n    eventType = 'VALID_MESSAGE_CREATED';\n  } else {\n    eventType = 'DISCARD';\n    discardReason = 'Event was sent by API';\n  }\n}\n// ROTA 2 (Secundﾃ｡ria): O evento ﾃｩ 'messages_update'\nelse if (mainEventType === 'messages_update') {\n  const knownUpdateTypesToDiscard = ['played-self', 'inactive', 'sender', 'peer_msg', 'retry']; //retry ﾃｩ o que trazia evento de read mas sem o state. O que nﾃ｣o ﾃｩ tratado em meu MAIN. E prefiro eliminar logo aqui porque nﾃ｣o me parece ser ﾃｺtil pra nada.\n  const knownStateToDiscard = 'FileDownloaded';\n\n  if (knownUpdateTypesToDiscard.includes(updateEventType) || updateState === knownStateToDiscard) {\n    eventType = 'DISCARD';\n    const discardValue = updateEventType || updateState;\n    const discardKey = updateEventType ? 'type' : 'state';\n    discardReason = `Known update event to ignore (${discardKey}): ${discardValue}`;\n  } else {\n    eventType = 'VALID_UPDATE_STATE'; // Ou VALID_MESSAGES_UPDATE\n  }\n}\n// ROTA 3 (Fallback): Nenhum dos eventos esperados\nelse {\n  eventType = 'DISCARD';\n  discardReason = `Unhandled main EventType: ${mainEventType || 'not found'}`;\n}\n\n\n/*====================================\n MONTAGEM DA SAﾃ好A\n Cria o objeto 'switchProcessor' e o insere\n no nﾃｭvel principal do JSON (fora do 'body').\n====================================*/\n// Faz uma cﾃｳpia do item original para evitar mutaﾃｧﾃ｣o direta\nconst outputItem = { ...item.json };\n\n// Cria o objeto com os resultados do processamento\nconst switchProcessor = {\n  eventType: eventType,\n  discardReason: discardReason\n};\n\n// Adiciona o objeto 'switchProcessor' ao nﾃｭvel principal do item\noutputItem.switchProcessor = switchProcessor;\n\n// Retorna o item original modificado\nreturn [{\n  json: outputItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        800
      ],
      "id": "6af7bc20-521e-4baf-b0cb-31421dca904a",
      "name": "Switch Processor"
    },
    {
      "parameters": {
        "jsCode": "/*====================================\n INICIALIZAﾃﾃグ E EXTRAﾃﾃグ DE DADOS\n Extrai todos os dados necessﾃ｡rios do corpo\n do webhook para variﾃ｡veis legﾃｭveis e seguras.\n====================================*/\nconst item = items[0];\nconst body = item.json.body || {};\n\n/*====================================\n MONTAGEM DA SAﾃ好A\n Cria o objeto 'switchProcessor' e o insere\n no nﾃｭvel principal do JSON (fora do 'body').\n====================================*/\n// Faz uma cﾃｳpia do item original para evitar mutaﾃｧﾃ｣o direta\nconst outputItem = { ...item.json };\n\n// Cria o objeto com os resultados do processamento\nconst switchProcessor = {\n  eventType: \"BASEROW_ROWS_UPDATED\"\n};\n\n// Adiciona o objeto 'switchProcessor' ao nﾃｭvel principal do item\noutputItem.switchProcessor = switchProcessor;\n\n// Retorna o item original modificado\nreturn [{\n  json: outputItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        560
      ],
      "id": "66ced5eb-11ee-4351-b3d4-a19c20a85ecf",
      "name": "Switch Processor - Baserow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatpro-uazapi-receptor-TOchatwoot-PROD",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        800
      ],
      "id": "ad7044ba-9272-41a8-a822-a0a51ae66b21",
      "name": "Uazapi Webhook",
      "webhookId": "a80675e2-06d3-4789-82f3-6f54c9b1134f"
    },
    {
      "parameters": {
        "content": "## 燥松 SELECIONE\n## 痩松 Flow 1.2 争松",
        "height": 272,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        544
      ],
      "typeVersion": 1,
      "id": "687a84dc-bb66-452c-a2c4-10f3983e6349",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rCFY701JXyZ5wlB1",
          "mode": "list",
          "cachedResultUrl": "/workflow/rCFY701JXyZ5wlB1",
          "cachedResultName": "1.2 API receptor - MAIN | (Uazapi/DB/Redis > Whatpro)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        656
      ],
      "id": "3a32d0b9-ae7e-4e14-ae26-6ae2c91d9140",
      "name": "Call '1.2 API receptor - MAIN | (Uazapi/DB/Redis > Whatpro)'"
    }
  ],
  "pinData": {},
  "connections": {
    "Baserow Webhook": {
      "main": [
        [
          {
            "node": "Switch Processor - Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call '1.2 API receptor - MAIN | (Uazapi/DB/Redis > Whatpro)'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call '1.2 API receptor - MAIN | (Uazapi/DB/Redis > Whatpro)'",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Discarded event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Processor": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Processor - Baserow": {
      "main": [
        [
          {
            "node": "Call '1.2 API receptor - MAIN | (Uazapi/DB/Redis > Whatpro)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uazapi Webhook": {
      "main": [
        [
          {
            "node": "Switch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "42e5b322-c753-4121-b09f-832222057d33",
  "meta": {
    "instanceId": "e23f3221c9c13f410dedd6480997c7f1b273c096ebf708d184a8b0c24cf67206"
  },
  "id": "tocQdpSMRpe0jquk",
  "tags": [
    {
      "createdAt": "2025-10-17T11:42:11.665Z",
      "updatedAt": "2025-10-17T11:42:11.665Z",
      "id": "M533Cwcccnhc2pS9",
      "name": "Uazapi"
    },
    {
      "createdAt": "2025-02-06T10:11:38.193Z",
      "updatedAt": "2025-02-06T10:11:38.193Z",
      "id": "giucuooCzPVyIkng",
      "name": "Whatpro"
    }
  ]
}